* {
  font-family: brush system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: auto;
  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;*/
  display: grid;
  place-items: center;
}

h2 {
  margin-bottom: 0px;
  margin-top: 50px;
}

#sub {
  margin: 30px;
  margin-bottom: 50px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  width: 80%;
  height: 100%;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  width: 80%;
  height: 100%;
  text-align: center;
}

/* Style select */

.container {
  display: grid;
  place-items: center;
  margin-top: 30px;
}

select {
  font-size: 1rem;
  padding: 1em 3em 1em 1.5em;
  color: white;
  background-color: #4d5061;
  border: 0;
  width: 300px;
}

.custom-select {
  position: relative;
  border: 0;
}

.custom-icon {
  position: absolute;
  display: block;
  background-color: #3b3c47;
  height: 100%;
  width: 3rem;
  top: 0;
  right: 0;
  pointer-events: none;
  color: rgba(255, 255, 255, .5);
  font-size: large;
}

#icon {
  position: relative;
  top: 30%;
}

.container button {
  background-color: #4d5061;
  border-radius: 10px;
  border: none;
  appearance: none;
  padding: 15px;
  color: white;
  transition-duration: 0.4s;
}

.container button:hover {
  background-color: #04AA6D; /* Green */
  color: white;
}

/* SESSION */ 

.session-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* black and white switch */
.bw-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* images */ 

.img-container {
  margin-top: 20px;
  border: solid;
  padding: 50px;
  width: 80%;
}

.img-container img {
  align-items: stretch;
}

/* buttons */ 

.session-commands {
  display: flex;
  flex-direction: row;
  align-items:flex-end;
  justify-content:space-between;
  font-size: 30px;
  width: 100%;
}

.player-btns {
  display: flex;
  gap: 20px;
}

.player-btns i:hover {
  color: rgb(116, 116, 116);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer
}







/*.custom-icon::before,
.custom-icon::after {
  --size: .4em;
  content: ;
  position: absolute;
  width: 0;
  height: 0;
  left: 40%;
  top: 50%;
  transform: translate(-50);
}

.custom-icon::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid rgba(255, 255, 255, .5);
  top: 35%;
}

.custom-icon::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid rgba(255, 255, 255, .5);
  top: 55%;
}*/